body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
nav{
  max-width: 1260px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #C1B8C8;
}
.logo a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #fafafa;
}
.menu-list {
  display: inline-flex;
  font-size: 16px;
}
.menu-list li{
  list-style-type: none;
  margin-left: 20px;
}
.menu-list li a{
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

